In [88]:
import numpy as np
import pandas as pd
import seaborn as sns

In [89]:
data = sns.load_dataset("penguins")
data.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [94]:
data.tail()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [33]:
data.shape

(344, 7)

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [35]:
data.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [36]:
data.dropna(inplace=True)

In [37]:
data.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [38]:
sex = pd.get_dummies(data.sex,drop_first=True)

In [39]:
sex.head()

   Male
0     1
1     0
2     0
4     0
5     1

In [40]:
data.island.unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [41]:
island = pd.get_dummies(data.island)

In [42]:
island

     Biscoe  Dream  Torgersen
0         0      0          1
1         0      0          1
2         0      0          1
4         0      0          1
5         0      0          1
..      ...    ...        ...
338       1      0          0
340       1      0          0
341       1      0          0
342       1      0          0
343       1      0          0

[333 rows x 3 columns]

In [43]:
data = pd.concat([data,island,sex],axis = 1)

In [44]:
data.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,Biscoe,Dream,Torgersen,Male
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,0,0,1,1
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,0,0,1,0
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,0,0,1,0
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,0,0,1,0
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male,0,0,1,1

In [46]:
data.drop(['island','sex'],axis=1,inplace=True)

In [47]:
data.head()

,species,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,Biscoe,Dream,Torgersen,Male
0,Adelie,39.1,18.7,181.0,3750.0,0,0,1,1
1,Adelie,39.5,17.4,186.0,3800.0,0,0,1,0
2,Adelie,40.3,18.0,195.0,3250.0,0,0,1,0
4,Adelie,36.7,19.3,193.0,3450.0,0,0,1,0
5,Adelie,39.3,20.6,190.0,3650.0,0,0,1,1

In [49]:
data.species.unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [54]:
#usinf map function to convert categorical values into numeric
Y = data['species']
Y = Y.map({'Adelie':0,'Chinstrap':1,'Gentoo':2})
Y.head()

0    0
1    0
2    0
4    0
5    0
Name: species, dtype: int64

In [57]:
data.drop(['species'],inplace=True,axis = 1)

In [58]:
data

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,Biscoe,Dream,Torgersen,Male
0,39.1,18.7,181.0,3750.0,0,0,1,1
1,39.5,17.4,186.0,3800.0,0,0,1,0
2,40.3,18.0,195.0,3250.0,0,0,1,0
4,36.7,19.3,193.0,3450.0,0,0,1,0
5,39.3,20.6,190.0,3650.0,0,0,1,1
...,...,...,...,...,...,...,...,...
338,47.2,13.7,214.0,4925.0,1,0,0,0
340,46.8,14.3,215.0,4850.0,1,0,0,0
341,50.4,15.7,222.0,5750.0,1,0,0,1
342,45.2,14.8,212.0,5200.0,1,0,0,0
343,49.9,16.1,213.0,5400.0,1,0,0,1

In [60]:
data = pd.concat([data,Y],axis=1)

In [61]:
data

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,Biscoe,Dream,Torgersen,Male,species
0,39.1,18.7,181.0,3750.0,0,0,1,1,0
1,39.5,17.4,186.0,3800.0,0,0,1,0,0
2,40.3,18.0,195.0,3250.0,0,0,1,0,0
4,36.7,19.3,193.0,3450.0,0,0,1,0,0
5,39.3,20.6,190.0,3650.0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...
338,47.2,13.7,214.0,4925.0,1,0,0,0,2
340,46.8,14.3,215.0,4850.0,1,0,0,0,2
341,50.4,15.7,222.0,5750.0,1,0,0,1,2
342,45.2,14.8,212.0,5200.0,1,0,0,0,2
343,49.9,16.1,213.0,5400.0,1,0,0,1,2

In [64]:
X = data

In [62]:
from sklearn.model_selection import train_test_split

In [67]:
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.3,random_state=0)

In [70]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(233, 9)
(100, 9)
(233,)
(100,)

In [71]:
from sklearn.ensemble import RandomForestClassifier

In [73]:
model = RandomForestClassifier(n_estimators = 5,criterion = 'entropy',random_state=0)

In [75]:
model.fit(X_train,y_train)

RandomForestClassifier(criterion='entropy', n_estimators=5, random_state=0)

In [80]:
y_predict=model.predict(X_test)
y_predict

array([0, 0, 2, 0, 0, 0, 1, 2, 2, 1, 2, 0, 0, 1, 0, 0, 2, 0, 1, 0, 0, 0,
       2, 2, 2, 2, 0, 0, 0, 0, 0, 1, 0, 1, 0, 2, 1, 0, 1, 0, 2, 2, 0, 0,
       0, 0, 0, 0, 2, 0, 1, 0, 2, 2, 0, 0, 0, 0, 0, 2, 0, 1, 0, 2, 0, 0,
       2, 2, 1, 2, 2, 1, 2, 1, 0, 2, 0, 2, 0, 2, 1, 2, 2, 2, 1, 2, 1, 0,
       0, 2, 2, 0, 2, 0, 2, 0, 2, 0, 2, 2])

In [84]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report,accuracy_score

In [85]:
accuracy_score(y_test,y_predict)

1.0

In [86]:
confusion_matrix(y_test,y_predict)

array([[48,  0,  0],
       [ 0, 16,  0],
       [ 0,  0, 36]])